<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/pcs/header" />

<body>
    <tt:constant enumcode="sync-status"/>
    <section class="content-header">
        <h1>同步人员模块</h1>
        <ol class="breadcrumb">
           <li><a href="/pcs/sync/model/personnel/index"><i class="fa fa-table"></i>配置列表</a></li>
            <li class="active">配置详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/pcs/sync/model/personnel/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/pcs/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "配置详情",
	        url:"/pcs/sync/model/personnel/update?id="+$("#id").val(),
	        columns: [{
                title: "同步数据库",
                name: "name",
                required: "required",
                inputType: "SELECT-SERVER",
                url: "/pcs/sync/target/find/all",
                idField: "name",
                nameField: "name",
                multiple: false
            },
            { title: "sql", name: "searchSql", required: "required", inputType: "TEXTAREA", colspan:2 },
            { title: "身份证域", name: "identificationIdField", inputType: "TEXT" },
            { title: "账号域", name: "accountField", inputType: "TEXT" },
            { title: "密码域", name: "passwordField", inputType: "TEXT" },
            { title: "更新时间域", name: "updateTimeField", inputType: "TEXT" },
            { title: "状态域", name: "statusField", inputType: "TEXT" },
            { title: "状态", name: "status", inputType: "RADIO", enum: "sync-status" }
        ]
	    }
    
        $.getAjax("/pcs/sync/model/personnel/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));
           
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>