<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/pcs/header" />

<body>
    <tt:constant enumcode="sync-status"/>
    <section class="content-header">
        <h1>同步数据库管理</h1>
        <ol class="breadcrumb">
             <li><a href="/pcs/sync/target/index"><i class="fa fa-table"></i>数据库列表</a></li>
            <li class="active">添加数据库</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/pcs/sync/target/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/pcs/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "数据库详情",
	        url:"/pcs/sync/target/update?id="+$("#id").val(),
	        columns: [
				{ title: "同步数据库名称", name: "name", required: "required", inputType: "TEXT" },
                { title: "同步数据库地址", name: "url", required: "required", inputType: "TEXT" },
                { title: "同步数据库用户名", name: "username", required: "required", inputType: "TEXT" },
                { title: "同步数据库密码", name: "password", inputType: "TEXT" },
                { title: "同步状态", name: "status", inputType: "RADIO", enum:"sync-status" },                
                { title: "同步优先级", name: "priorityLevel", inputType: "NUMBER" }
				]
	    }
    
        $.getAjax("/pcs/sync/target/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));
           
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>